<section class="flex flex-col justify-center h-screen bg-thirdTan">
  <h1 class="text-5xl ml-20">create a new post</h1>
  <form
    [formGroup]="newPostForm"
    (submit)="submitPost()"
    class="flex flex-col justify-center gap-5 p-20"
  >
    <label for="title" class="font-semibold">Title</label>
    <input
      id="title"
      type="text"
      formControlName="title"
      class="border-solid border-2 rounded"
    />

    <label for="thumbnailUrl" class="font-semibold">thumbnailUrl</label>
    <input
      id="thumbnailUrl"
      type="text"
      formControlName="thumbnailUrl"
      class="border-solid border-2 rounded"
    />

    <label for="body" class="font-semibold">body</label>
    <textarea
      id="body"
      type="text"
      formControlName="body"
      class="border-solid border-2 rounded h-48"
    ></textarea>

    <button
      type="submit"
      class="border-solid border-2 rounded bg-secondOrange font-semibold"
    >
      Create Post
    </button>
  </form>
</section>
