<section
  class="flex flex-col items-center gap-2 h-full min-h-screen bg-thirdTan"
>
  <div class="flex flex-col justify-center items-center gap-2 p-8">
    <img
      alt="{{ post.thumbnailUrl }}"
      src="{{ post.thumbnailUrl }}"
      class="max-w-2xl rounded-md"
    />
    <p>
      {{ post.creationDate | date : "mediumDate" }}
    </p>
  </div>
  <h3 class="text-xl">{{ post.title }}</h3>

  <p class="max-w-3xl">{{ post.body }}</p>

  <span class="flex gap-2">
    <div (click)="like()" class="hover:cursor-pointer select-none">
      Likes: {{ post.likes }}
    </div>
    <div>Score: {{ score }}</div>
    <div (click)="dislike()" class="hover:cursor-pointer select-none">
      Dislikes: {{ post.dislikes }}
    </div>
  </span>

  <span><app-comment [id]="numId" [post]="post"></app-comment></span>

  <button routerLink="" class="text-secondOrange mb-10">Back to main!</button>
</section>
