<nav class="flex justify-around h-12 bg-thirdTan">
  <button
    type="button"
    routerLink=""
    class="text-firstBlack text-xl hover:underline hover:underline-offset-4 active:underline-offset-1 active:underline"
  >
    MAIN
  </button>
  <button
    type="button"
    routerLink="/about"
    class="text-firstBlack text-xl hover:underline hover:underline-offset-4 active:underline-offset-1 active:underline"
  >
    ABOUT
  </button>
  <button
    type="button"
    routerLink="/user"
    class="text-firstBlack text-xl hover:underline hover:underline-offset-4 active:underline-offset-1 active:underline"
  >
    USERS
  </button>

  <button
    *ngIf="profile === 'Admin'"
    type="button"
    routerLink="/new-post"
    class="text-firstBlack text-xl hover:underline hover:underline-offset-4 active:underline-offset-1 active:underline"
  >
    NEW POST
  </button>
</nav>
